@import "_boilerplate.scss";

body {
  padding: 1% 2%; }

.breadcrumb {
  margin: 5px;
}

ul {
  list-style-type: none;
}

form {

  label:after {
    content: ": "; }
  
  span.error {
    display: block;
    color: #c33; }
}

table.model_properties {
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid black;
    td {
      padding: 0 5px;
    }
    td+td {
      border-left: 1px solid grey;
    }
  }
}

ul.col {
  li:hover {
    background-color: #ddffff;
  }
}

ul.selectable {
  margin: 20px;
  li li:hover {
    background-color: #ddffff;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: {
    bottom: 10px;
    left: 15px;
  }
}