#db_box
  
  background white
  border 1px solid #9e869e
  border-radius 5px
  box-shadow 2px 2px 0 0 #338;
  display none
  padding 3px 10px
  position absolute
  left 250px
  top 10px
  
  h2
    font-size 1.1em
    font-weight 500
    margin 0px
    line-height 1.2em
    
  .fake_link
    margin-left 5px
  
  form
    max-height 0px
    overflow hidden
    margin 0
    
    transition max-height 0.5s
    
    &.show
      max-height 500px
      
    .btn
      margin 0 5px