ul.model_details
  label
    font-weight bold
    display inline
    margin-right 8px
    
    &:after
        content ':'
        

  td, th
    border-right 1px solid #ccc
    padding 2px 10px
    
    &.last
      border-right 0
        
  .version_warning
    border 11px solid transparent
    border-bottom 18px solid orange
    border-radius 4px
    cursor pointer
    font-weight bold
    height 0
    line-height 22px
    margin -19px 0
    text-indent -2px
    width 0
    
.instance_list
  tr
    border-bottom 1px dotted #ddd