ul.model_details, ul.instance_details
  label
    font-weight bold
    display inline
    margin-right 8px
    
    &:after
        content ':'
        

  td, th
    border-right 1px solid #ccc
    padding 2px 10px
    
    &.last
      border-right 0

  .version_warning, .version_error
    color orange
    font-size 1.3em
    margin-bottom -.4em
    
  .version_error
    color red
    

.instance_list
  tbody tr
    cursor pointer
    
    &:hover
      background-color lighten(#00f, 50%)
  

ul.instance_details li > .version_warning
    display inline-block
    
.instance_list
  tr
    border-bottom 1px dotted #ddd