.tabs > .active > a,.tabs > .active > a:hover{cursor:auto}
.hidden{display:none !important}
.error{color:#b30000}
.nav-pill{cursor:pointer}
.fake_link{cursor:pointer}
.jGrowl{position:fixed;top:20px;left:50%;margin-left:-250px;width:500px}
.jGrowl-notification,.jGrowl-closer{background-color:#fff;gradient:#ccf,#fff;border:1px solid #888;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:3px,3px,4px,#333;-moz-box-shadow:3px,3px,4px,#333;box-shadow:3px,3px,4px,#333;color:#000;display:none;opacity:.9;filter:alpha(opacity=90);padding:4px 8px}
.success .jGrowl-message,.success .jGrowl-header{color:#3f3}
.jGrowl-header{font-weight:700}
.jGrowl-notification.warning{color:#e8ac14}
.jGrowl-close,.jGrowl-closer{float:right;font-weight:bold;cursor:pointer}
*{position:relative}
#userbox{border:1px solid #9e869e;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 0 0 #338;-moz-box-shadow:2px 2px 0 0 #338;box-shadow:2px 2px 0 0 #338;padding:5px 10px;position:absolute;right:10px;top:10px}
.success_blink{-webkit-animation-name:blink_success;-moz-animation-name:blink_success;animation-name:blink_success;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;animation-duration:.5s}
.error_blink{-webkit-animation-name:blink_error;-moz-animation-name:blink_error;animation-name:blink_error;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;animation-duration:.5s}
form label.required{font-weight:bold}
form.acl .controls,form.admin .controls{width:300px}
form .button-row button{margin:4px 10px}
span.one_line{text-overflow:ellipsis;white-space:nowrap}
@-moz-keyframes blink_success{0%{background-color:0}
50%{background-color:#7ebf88}
100%{background-color:0}
}@-webkit-keyframes blink_success{0%{background-color:0}
50%{background-color:#7ebf88}
100%{background-color:0}
}@-o-keyframes blink_success{0%{background-color:0}
50%{background-color:#7ebf88}
100%{background-color:0}
}@-ms-keyframes blink_success{0%{background-color:0}
50%{background-color:#7ebf88}
100%{background-color:0}
}@keyframes blink_success{0%{background-color:0}
50%{background-color:#7ebf88}
100%{background-color:0}
}@-moz-keyframes blink_error{0%{background-color:0}
50%{background-color:#de4545}
100%{background-color:0}
}@-webkit-keyframes blink_error{0%{background-color:0}
50%{background-color:#de4545}
100%{background-color:0}
}@-o-keyframes blink_error{0%{background-color:0}
50%{background-color:#de4545}
100%{background-color:0}
}@-ms-keyframes blink_error{0%{background-color:0}
50%{background-color:#de4545}
100%{background-color:0}
}@keyframes blink_error{0%{background-color:0}
50%{background-color:#de4545}
100%{background-color:0}
}