<script type="text/x-jade-tmpl" name="index">
- if (data && data.length)
  ul
    each model in data.models
      li
        a(href:'#model/details/'+model.get('name'))
          != model.get('name')
- else
  | No models found.
</script>


<script type="text/x-jade-tmpl" name="details">
h2
  = data.get('id')

ul.model_details
  li
    label=_t('properties')
    !=partial('properties', data.get('properties'))
  li
    label=_t('version')
    = data.get('version')
  li
    label=_t('idGenerator')
    = data.get('idGenerator')
  li
    label=_t('cardinality')
    = data.get('cardinality')
    
  li
    br
    label=_t('instance_plural')
    br
    span.fake_link.load_instances= _t('load_instances')
    div.instance_list
</script>

<script type="text/x-jade-tmpl" name="properties">
table
  thead
    th=_t('property.name')
    th=_t('property.type')
    th=_t('property.defaultValue')
    th=_t('property.index')
    th=_t('property.unique')
    th.last=_t('property.validations')
    
  tbody
    - each prop, name in args[0]
      tr
        td=name
        td=prop.type
        td=prop.defaultValue
        td=prop.index
        td=prop.unique
        td.last=prop.validations
</script>

<script type="text/x-jade-tmpl" name="instance_list">
- if (data && data.models.length)

  if data.paginated
    .pagination.pagination-centered
  
  - if ( ! data.models[0].get('properties') )
    span.fake_link.load_details= _t('load_details')
    br
  
  table
    thead
      th= _t('id')
      each property, name in model_definition.get('properties')
        th= name
      th.last
        
    tbody
    each instance in data.models
      tr( data-id: instance.get('id') )
        td
            = instance.get('id')
        - var props = instance.get('properties');
        
        each property, property_name in model_definition.get('properties')
          td
            - if (props && props.hasOwnProperty(property_name))
              =props[property_name]
        
        td.last
          - if (props && props.__meta_version !== model_definition.get('version'))
            div.version_warning !
- else
  | No instances found.
</script>


<script type="text/x-jade-tmpl" name="version_warning_overlay">
- locals.header = _t('warning', 'overlays', 'generic')
!= _t('text')
- locals.footer = partial('version_warning_footer')
</script>

<script type="text/x-jade-tmpl" name="version_warning_footer">
button.btn.btn-primary.confirm= _t('overwrite')
button.btn(data-dismiss: "modal")= _t('cancel')
</script>


<script type="text/x-jade-tmpl" name="version_error_overlay">
- locals.header = _t('error', 'overlays', 'generic')
!= _t(['text', property_name])
- locals.footer = partial('version_error_footer')
</script>

<script type="text/x-jade-tmpl" name="version_error_footer">
button.btn.btn-danger.confirm= _t('remove')
button.btn(data-dismiss: "modal")= _t('cancel')
</script>


<script type="text/x-jade-tmpl" name="instance">
h2!= _t(['instance_of', '<a href="#model/details/'+model_definition.get('id')+'">'+model_definition.get('id')+'</a>']);

ul.instance_details
  li
    label=_t('id')
    =data.get('id')
    
  li
    label=_t('version')
    = data.get('properties').__meta_version
    - if (data.get('properties') !== model_definition.get('version'))
      div.version_warning !
    
  li
    label=_t('properties')
    
    table
      thead
        th=_t('property.name')
        th=_t('property.value')
        th=_t('property.type')
        th=_t('property.defaultValue')
        th.last=_t('property.actions')
    
      tbody
        - var model_properties = model_definition.get('properties')
        - each prop, name in data.get('properties')
          - if (name !== '__meta_version')
            tr
              td=name
              
              td=prop
              
              td
                - if (model_properties.hasOwnProperty(name))
                  =model_properties[name].type
                  
              td
                - if (model_properties.hasOwnProperty(name))
                  =model_properties[name].defaultValue
                  
              td.last
                - if ( ! model_properties.hasOwnProperty(name))
                  div.version_error !
</script>
