<script type="text/x-jade-tmpl" name="index">
- if (data && data.length)
  ul
    each model in data.models
      li
        a(href:'#model/details/'+model.get('name'))
          != model.get('name')
- else
  | No models found.
</script>


<script type="text/x-jade-tmpl" name="details">
h2
  = data.get('id')

ul.model_details
  li
    label=_t('properties')
    !=partial('properties', data.get('properties'))
  li
    label=_t('version')
    = data.get('version')
  li
    label=_t('idGenerator')
    = data.get('idGenerator')
  li
    label=_t('cardinality')
    = data.get('cardinality')
    
  li
    br
    label=_t('instance_plural')
    span.fake_link.load_instances= _t('load_instances')
    div.instance_list
</script>

<script type="text/x-jade-tmpl" name="properties">
table
  thead
    th=_t('property.name')
    th=_t('property.type')
    th=_t('property.defaultValue')
    th=_t('property.index')
    th=_t('property.unique')
    th.last=_t('property.validations')
    
  tbody
    - each prop, name in args[0]
      tr
        td=name
        td=prop.type
        td=prop.defaultValue
        td=prop.index
        td=prop.unique
        td.last=prop.validations
</script>

<script type="text/x-jade-tmpl" name="instance_search">
//- args[0] = properties
//- args[1] = search
form.form-search        
  .input-append
  
    input.search-query.input-medium( type: 'text', value: args[1].value )
    
    select.input-medium
      each prop, property_name in args[0]
        - if (prop.index || prop.unique)
          option(selected: args[1].property === property_name)
            =property_name
        
    button.btn.search-query( type: 'submit', data-form: 'submit' )
      i.icon-search
      =_t('search')
    button.btn.search-query( type: 'reset', data-form: 'reset' )
      i.icon-remove
      =_t('reset')
</script>

<script type="text/x-jade-tmpl" name="instance_list">
- var properties = model_definition.get('properties');

- if (data.models.length || collection.search.value)
  !=partial('instance_search', properties, collection.search)
  
- if (data && data.models.length)

  if data.paginated
    .pagination.pagination-centered
  
  - if ( ! data.models[0].get('properties') )
    span.fake_link.load_details= _t('load_details')
    br
  
  table
    thead
      th= _t('id')
      each property, name in properties
        th= name
      th.last
        
    tbody
    each instance in data.models
      tr( data-id: instance.get('id') )
        td
            = instance.get('id')
        - var props = instance.get('properties');
        
        each property, property_name in properties
          td
            - if (props && props.hasOwnProperty(property_name))
              =props[property_name]
        
        td.last
          - if (props && props.__meta_version !== model_definition.get('version'))
            i.icon-warning-sign.version_warning
- else
  =_t('no_instances')
</script>


<script type="text/x-jade-tmpl" name="version_warning_overlay">
- locals.header = _t('warning', 'overlays', 'generic')
!= _t('text')
- locals.footer = partial('version_warning_footer')
</script>

<script type="text/x-jade-tmpl" name="version_warning_footer">
button.btn.btn-primary.confirm= _t('overwrite')
button.btn(data-dismiss: "modal")= _t('cancel')
</script>


<script type="text/x-jade-tmpl" name="version_error_overlay">
- locals.header = _t('error', 'overlays', 'generic')
!= _t(['text', property_name])
- locals.footer = partial('version_error_footer')
</script>

<script type="text/x-jade-tmpl" name="version_error_footer">
button.btn.btn-danger.confirm= _t('remove')
button.btn(data-dismiss: "modal")= _t('cancel')
</script>


<script type="text/x-jade-tmpl" name="instance">
h2!= _t(['instance_of', '<a href="#model/details/'+model_definition.get('id')+'">'+model_definition.get('id')+'</a>']);

ul.instance_details
  li
    label=_t('id')
    =data.get('id')
    
  li
    label=_t('version')
    = data.get('properties').__meta_version
    - if (data.get('properties') !== model_definition.get('version'))
      i.icon-warning-sign.version_warning
    
  li
    label=_t('properties')
    
    table
      thead
        th=_t('property.name')
        th=_t('property.value')
        th=_t('property.type')
        th=_t('property.defaultValue')
        th.last=_t('property.actions')
    
      tbody
        - var model_properties = model_definition.get('properties')
        - each prop, name in data.get('properties')
          - if (name !== '__meta_version')
            tr
              td=name
              
              td=prop
              
              td
                - if (model_properties.hasOwnProperty(name))
                  =model_properties[name].type
                  
              td
                - if (model_properties.hasOwnProperty(name))
                  =model_properties[name].defaultValue
                  
              td.last
                - if ( ! model_properties.hasOwnProperty(name))
                  i.icon-warning-sign.version_error
  
  li
    label=_t('relations')
    - if (_.isEmpty(relations.attributes))
      =_t('no_relations')
    - else
      ul
        each relation, related_name in relations.attributes
          li
            .related_name= _t(['related_name', related_name])
            ul
              each ids, relation_name in relation
                li
                  .relation_name= _t(['relation_name', relation_name])
                  ul
                    each id in ids
                      li
                        a( href:'#model/instance/'+related_name+'/'+id)
                          = id
</script>
